{% extends 'registration/base.html' %}
{% load i18n %}
{% block main_container %}

<!--    <h1>{% translate 'Calendar' %}</h1>-->

    <div>
        <div style="margin-bottom: 5px; width: 100%; align-content: center; border: lightgray 1px solid">
            <table width="100%">
                <th>
                    <td style="width: 7rem; text-align: center"><a href="{% url 'calendar' %}">PREV WEEK</a></td>
                    <td style="text-align: center">ZAKRES DAT</td>
                    <td style="width: 7rem; text-align: center"><a href="{% url 'calendar' %}">NEXT WEEK</a></td>
                </th>
            </table>
        </div>

        <div class="main_calendar">


            <table width="100%">
                <tr>
                    <th class="calendar-timeline-header">Timeline </th>
                    <th class="calendar-day-header">{% translate 'Monday' %}</th>
                    <th class="calendar-day-header">{% translate 'Tuesday' %}</th>
                    <th class="calendar-day-header">{% translate 'Wednesday' %}</th>
                    <th class="calendar-day-header">{% translate 'Thursday' %}</th>
                    <th class="calendar-day-header">{% translate 'Friday' %}</th>
                </tr>
                <tr>
<!--                    hours-->
                    <td style="width: 5rem;">
                            <div class="calendar-time">7:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">8:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">9:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">10:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">11:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">12:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">13:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">14:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">15:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">16:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>
                            <div class="calendar-time">17:00</div>
                            <div class="calendar-time">:15</div>
                            <div class="calendar-time">:30</div>
                            <div class="calendar-time">:45</div>

                    </td>

                    {% for week_day in timetable.values %}
                        <td class="table-column">
                        {% for state, length in week_day %}
                            {% if state == 'free' %}
                                 <a href="{% url 'create_visit' %}"><div class="calendar-cell-free"></div></a>
                            {% elif state == 'busy' %}
                                <a href=""></a>
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endfor %}

                </tr>
            </table>

        </div>

    </div>
{% endblock main_container %}