{% extends 'registration/base.html' %}

{% block main_container %}
<div class="p-2">
{% if perms.registration.staff_member_required %}
    <h4 class="text-center bg-light">Add new service</h4><hr>
    <div class="col-xs-10 offset-xs-1 col-md-4 offset-md-4 text-center" style="padding:inherit;">
<form style="text-align-last:justify;" action="{% url 'new_service' %}" method="POST" novalidate>
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Save" name="Save" class="m-4">
</form>

    </div>
    {% else %}
    <p class="text-center">You have no permissions to see this page.</p>
    {% endif %}
</div>
{% endblock main_container %}