{% extends 'registration/base.html' %}

{% block main_container %}
<div class="p-2">
{% if perms.registration.staff_member_required %}
    <h4 class="text-center bg-light">Add new employee</h4><hr>
    <div class="col-md-8 offset-md-2 text-center">
        <table>
<form action="{% url 'new_user' %}" method="POST" novalidate>
    {{ form.as_table }}
    <input type="submit" value="Save" name="Save">
    {% csrf_token %}
</form>
        </table>
    </div>
    {% else %}
    <p class="text-center">You have no permissions to see this page.</p>
    {% endif %}
</div>

{% endblock main_container %}