{% extends 'registration/base.html' %}

{% block main_container %}
<div class="p-2">
{% if perms.registration.staff_member_required %}
    <h4 class="text-center bg-light">Add new service</h4><hr>
    <div class="col-md-8 offset-md-2">
<form class="p-5" action="{% url 'new_service' %}" method="POST" novalidate>
    {{ form }}
    <input type="submit" value="Save" name="Save">
    {% csrf_token %}
</form>
    </div>
    {% else %}
    <p class="text-center">You have no permissions to see this page.</p>
    {% endif %}
</div>
{% endblock main_container %}