{% extends 'registration/base.html' %}
{% block body %}
{% if user.is_authenticated %}
<div>
    <ul>
        {% for salon in active_salons %}
        <li><a href="{% url 'salon_detail' salon.id %}">{{ salon }}</a></li>
        {% endfor %}
    </ul>

    {% if perms.registration.staff_member_required %}
    <ul>
        {% for salon in inactive_salons %}
        <li><a href="{% url 'salon_detail' salon.id %}">{{ salon }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% else %}
<h3>Sorry, you have to be logged in to see this page.</h3> <br>
For any questions contact with your administrator.
{% endif %}
{% endblock body %}