{% extends 'registration/base.html' %}

{% block main_container %}
<div class="p-2">
    <h4 class="text-center bg-light">Browse salons</h4><hr>
    <table class="table table-striped table-light table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        {% for salon in active_salons %}
        <tr>
            <th scope="row">{{ salon.id }}</th>
            <td><a href="{% url 'salon_detail' salon.id %}" class="text-dark" style="text-decoration: unset;">{{ salon.name }}</a></td>
            <td>{{ salon.address }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th><a href="#" class="text-dark" style="text-decoration: unset;">+ Add new salon</a></th>
            <th>[To modify pick salon's name]</th>
            <th></th>
        </tr>
        </tfoot>
    </table> <hr>
</div>

<div>
    {% if perms.registration.staff_member_required %}
        <h5 class="text-center bg-light mt-5">Closed salons</h5>
        <table class="table table-light">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        {% for salon in inactive_salons %}
        <tr>
            <th scope="row">{{ salon.id }}</th>
            <td><a href="{% url 'salon_detail' salon.id %}" class="text-dark" style="text-decoration: unset;">{{ salon.name }}</a></td>
            <td>{{ salon.address }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
</div>
{% endblock main_container %}