{% extends 'registration/base.html' %}

{% block main_container %}


<div class="p-2">
    <h4 class="text-center bg-light">Services</h4><hr>
    <table class="table table-striped table-light table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Time [min]</th>
            <th scope="col">Price [$]</th>
        </tr>
        </thead>
        <tbody>
        {% for service in all_services %}
        <tr>
            <th scope="row">{{ service.name }}</th>
            <td>{{ service.service_length }}</td>
            <td>{{ service.price }}</td>
        </tr>
        {% endfor %}
        </tbody>
        {% if perms.registration.staff_member_required %}
        <tfoot>
        <tr>
            <th><a href="{% url 'new_service' %}" class="text-dark" style="text-decoration: unset;">+ Add new service</a></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
        {% endif %}
    </table> <hr>
</div>

{% endblock main_container %}