body{
font-family: 'Khula', sans-serif;
}

li{
font-size: large;
list-style-type: none;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
background-color: #0085cc;
}

.logOut{
position: absolute;
bottom: 0;
width: 24.5%;
}

#menu{
background-color: #006aa3;
}

